.modal{ /*aplicamos flexbox*/
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    background-color: rgba(0,0,0,.75);
    display:none;
    justify-content: center;
    align-items:center;
 
}


.modal.is-open{/*no se xq pero si pongo .modal .is-open no me funciona, tiene que ser seguido sin espacio*/
    display: flex;
}


.modal-container{
    position:relative;
    padding:1rem;
    min-width:320px; /*pensando que quizas es un modal para contenido pequeño*/
    max-width: 480px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto; /*para que se aplique barra de scroll*/
    background-color: #fff;
}

 


.modal-close{
    position: absolute; /*si es absoluto, busca su padre mas cercano con position relative para posicionarse*/
    top:1rem; 
    right: 1rem;
}